html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #70A9A1;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    position: relative;
}

/* Título Login */
.title-login {
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20%;
}

.formLogin {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 60px;
}

.input-group label {
    position: absolute;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.2s;
    margin-left: 10px;
}

.input-group input {
    margin: 0 auto;
    width: 100%;
    padding: 20px 100px 10px 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    margin: 0 auto;
    font-size: 12px;
    color: #333;
}

button {
    width: 50%;
    height: 50%;
    padding: 10px;
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .login-container {
        width: 500px;
        height: auto;
        padding: 20px;
    }

    .title-login {
        font-size: 40px;
        margin-bottom: 15%;
    }
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .title-login {
        font-size: 35px;
        margin-bottom: 10%;
    }

    .input-group input {
        padding: 15px 80px 10px 80px;
    }

    button {
        width: 60%;
        /* Reduzido para não colar nas bordas */
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .title-login {
        font-size: 30px;
        margin-bottom: 8%;
    }

    .input-group input {
        padding: 10px 60px 8px 60px;
    }

    button {
        width: 70%;
        /* Reduzido ainda mais em telas menores */
        font-size: 16px;
    }
}